*{
    background-color: rgb(66, 117, 76);
}

.link{
    box-sizing: border-box;
    background-color: rgb(200, 32, 32);
    padding: 50px;
    font-size: 50px;
    text-align: center;
}

ul{
    background-color: aqua;
}

a{
    color: yellow;
}